<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TheAnimeTool.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A96105AB1D71ED71006D39D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A96105C21D71ED71006D39D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A96105CD1D71ED72006D39D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
